
.plans-container{
    margin-top: 4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    /* z-index: -1; */
}

.plans{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.plan{
    display: flex;
    flex-direction: column;
    background-color: rgb(102, 100, 100) ;
    gap: 2rem;
    padding: 1.5rem;
    width: 18rem;

}

.plan:nth-child(2){
    transform: scale(1.1);
    background: linear-gradient(to bottom right, #ef6767, red);
   
}

.plan>:nth-child(2){
    font-size: 1rem;
    font-weight: bold;

}

.plan>:nth-child(3)
{
    font-size: 2.8rem;
    font-weight: bold;

}

/* .plan>:nth-child(5){
    font-size: 0.8rem;

} */

.features{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature>:nth-child(1){
    width: 1.5rem;
}