.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 20px;
  min-height: 100vh; 
  background-image: url('../../assets/member_dashboard.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-height: 800px) {
  .dashboard-container {
    justify-content: flex-start;
  }
}

.dashboard-container h2 {
  font-size: xx-large;
}

.dashboard-container p {
  font-size: 1.2rem;
  font-weight: 500;
}

.memberdash_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; /* Ensures the content wraps on smaller screens */
}

.memberdash_userinfo {
  margin-right: 45px;
  flex: 1 1 300px; /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: 300px */
}

.react-calendar__navigation button {
  color: #000; 
  background: transparent;
  font-weight: bold; 
}


.welcome-card,
.package-card,
/* .hours-card, */
.remaining-hours-card,
.calendar-card {
  background: rgba(255, 255, 255, 0.8); 
  border-radius: 8px;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.welcome-card {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.package-card {
  margin-bottom: 50px;
  max-height: 65vh;
}

.calendar-card {
  max-height: 100vh;
  flex: 2 1 500px; /* Allows more space for the calendar on larger screens */
}

.remaining-hours-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.react-calendar {
  border: 2px solid #1E3799; 
  border-radius: 8px; 
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.highlight {
  background-color: red !important;
  color: white !important; 
  border-radius: 50%; 
}

.react-calendar__tile {
  color: black; 
  font-size: 14px;
  padding: 10px; 
  transition: background-color 0.3s, color 0.3s; 
  border-radius: 50%;
}

.react-calendar__tile--previous {
  cursor: default; 
  color: #bfbfbf; 
  background-color: #f7f7f7; 
  pointer-events: none; 
}


.react-calendar__tile--active {
  background: #f0f0f0; 
  color: #333;
  border-radius: 50%; 
}

.react-calendar__tile:hover {
  color: red; 
  cursor: pointer; 
}

.react-calendar__tile--now {
  background: #1E3799;
  color: white !important;
  border-radius: 50%;
}

.welcome-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; 
}

.animation-container {
  margin-left: 100px; 
}

@media (max-width: 768px) {
  .dashboard-container {
    margin-top: 10vh; 
  }

  .dashboard-container h2 {
    font-size: large; 
  }

  .dashboard-container p {
    font-size: 1rem;
  }

  .memberdash_content {
    flex-direction: column; 
    align-items: stretch; 
  }

  .memberdash_userinfo {
    margin-right: 0;
  }

  .package-card {
    margin-bottom: 20px; 
    max-height: auto; 
  }

  .calendar-card {
    flex: 1 1 100%; 
  }

  .welcome-content {
    flex-direction: column; 
    align-items: flex-start;
  }

  .animation-container {
    margin-left: 0; 
    margin-top: 20px; 
  }
}
