.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0; 
  }
  
  .logo-image {
    max-width: 40%;
    border-radius: 1rem;
  }
  
  .brand-name {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
  }
  
  .brand-name p {
    margin-top: -5px;
    margin-bottom: 0;
  }
  
  .menu-wrapper {
    margin-top: 20px;
    min-height: 400px;
  }
  
  .logout-wrapper {
    margin-top: auto;
    padding-bottom: 20px;
    border-top: 1px solid darkblue;
  }
  
  .ant-layout-sider {
    transition: all 0.2s ease-in-out; /* Smooth transition for collapse/expand */
  }
  