
/* 
 .online-reservations {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="date"] {
    display: block;
    margin: 0 auto 20px;
    padding: 0.7rem;
    font-size: 1.2rem;

  }
  
  .slots {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slot-header,
  .time-slot {
    display: flex;
    width: 100%;
  }
  
  .time,
  .court {
    flex: 1;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
  }
  
  .time-slot .court {
    cursor: pointer;
  }
  
  .court.booked {
    background-color: #f44336;
    color: #fff;
    cursor: not-allowed;
  }
  
  .court.available {
    background-color:gray;
    color: #fff;
  }
  
  .confirmation {
    text-align: center;
    margin-top: 20px;
  }
  
  .confirmation button {
    margin: 0 10px;
  }
  
  .confirm_btn {
    margin-right: 20px;
  }
   */ 

   .online-reservations {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 0;
    background-color:#111;
  }
  
  h1 {
    text-align: center;
  }
  
  .res_h{
    color: red;
  }

  input[type="date"] {
    display: block;
    margin: 0 auto 20px;
  }
  
  .slots {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slot-header,
  .time-slot {
    display: flex;
    width: 100%;
  }
  
  .time,
  .court {
    flex: 1;
    text-align: center;
    padding: 7px;
    border: 1px solid #ddd;
  }
  
  .time-slot .court {
    cursor: pointer;
  }
  
  .court.booked {
    background-color: #f44336;
    color: #fff;
    cursor: not-allowed;
  }
  
  .court.available {
    background-color: gray;
    color: #fff;
  }
  
  .confirmation {
    text-align: center;
    margin-top: 20px;
  }
  
  .confirmation button {
    margin: 0 10px;
  }
  
  .confirm_btn {
    margin-right: 20px;
  }
  
  .date-selector {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 2rem;
    border-color: #007bff;
    outline: none;
  }
  
  .date-selector:focus {
    border-color: red;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #007bff;
    border-radius: 50%;
    padding: 5px;
  }
