.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #333; 
  background: url('../../assets/Background1.png') no-repeat center center fixed;
}

.auth-container {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(100, 100, 237);
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container form input,
.auth-container form select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.auth-container form button {
  padding: 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-container form button:hover {
  background-color: #0056b3;
}

.auth-container .toggle-button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.auth-container .toggle-button:hover {
  background-color: #0056b3;
}

.auth-logo {
  max-width: 160px;
  display: block;
  margin: 0 auto 1rem auto;
}
