.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #333;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  background-size: cover;
}

.auth-container {
  max-width: 350px; 
  width: 100%;
  padding: 1rem; 
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.auth-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #007bff;
  font-family: 'Arial', sans-serif;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container form input,
.auth-container form select {
  margin-bottom: 1rem;
  padding: 0.55rem; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #333;
  font-size: 0.9rem;
}

.auth-container form input:focus,
.auth-container form select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.auth-container form .password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.auth-container form .password-container input {
  width: 100%;
  padding-right: 2.5rem; 
}

.auth-container form .eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff;
  font-size: 1.2rem;
}

.auth-container form button {
  padding: 0.65rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.auth-container form button:hover {
  background-color: #0056b3;
}

.auth-container .toggle-button {
  margin-top: 1rem;
  padding: 0.65rem;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.auth-container .toggle-button:hover {
  background-color: #5a6268;
}

.auth-logo {
  max-width: 140px; 
  display: block;
  margin: 0 auto 1rem auto;
}

.backbutton-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
