.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 100px;
  /* background-color: #111; */
}

.reason-card {
  background-color: #000;
  color: #fff;
  border: 1px solid #ff0000;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.reason-card h2 {
  font-size: 2rem;
  color: #ff0000;
}

.reason-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #ff0000;
}

.reason-card p {
  font-size: 1.3rem;
  line-height: 1.5;
}

.reasons-container{
  text-align: center;
  background-color: #111;
}

.highlight{
  color: red;
}

.header p1{
  font-size: 1.7rem;
}